<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :author, "Your name:", style: "display: block" %>
    <%= form.text_field :author, placeholder: "Serious Contributor" %>
  </div>

  <div>
    <%= form.label :content, "Your Tweet:", style: "display: block" %>
    <%= form.textarea :content, placeholder: "Share something concise and useful..." %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
