<%= form_with(model: tweet) do |form| %>
  <div class="form-grid">
    <div class="form-row">
      <%= form.label :author, "Your name:" %>
      <%= form.text_field :author, placeholder: "Serious Contributor" %>
    </div>

    <div class="form-row">
      <%= form.label :content, "Your tweet:" %>
      <%= form.textarea :content, placeholder: "Share something concise and useful..." %>
    </div>

    <div class="actions">
      <%= form.submit "Tweet!" %>
    </div>
  </div>
<% end %>
